@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Departure Mono';
	src:
		url('/fonts/DepartureMono-Regular.woff2') format('woff2'),
		url('/fonts/DepartureMono-Regular.woff') format('woff');
}

@layer base {
	body {
		font-family: 'Departure Mono', ui-monospace, monospace;
		font-display: swap;
		@apply bg-black text-sm leading-relaxed text-white;
	}
}

@layer components {
	a {
		@apply text-amber-500 hover:bg-amber-100 hover:underline hover:underline-offset-4;
	}
}
