@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'MTMighty Mono';
	src: url('/Users/quang/Downloads/DEV/quang.design/static/fonts/MTMightyMono-MTMightyMonoVariable.woff2')
		format('woff2');
}

@layer base {
	body {
		font-family: 'MTMighty Mono', ui-monospace, monospace;
		font-display: swap;
		@apply bg-black text-sm leading-relaxed text-white;
	}
}

@layer components {
	a {
		@apply text-amber-500 hover:bg-amber-100 hover:underline hover:underline-offset-4;
	}
}
